<ul class="nav nav-tabs" id="myTab" role="tablist">

    <li class="nav-item">
      <a routerLink="" class="nav-link active" id="inicial-tab" data-toggle="tab" role="tab" aria-controls="inicial" aria-selected="true">Inicial</a>
    </li>
  
    <li class="nav-item">
      <a routerLink="/crfb" class="nav-link active" id="crfb-tab" data-toggle="tab" role="tab" aria-controls="crfb" aria-selected="true">Classificação</a>
    </li>
  
    <li class="nav-item">
      <a routerLink="/manterbem" class="nav-link active" id="bens-tab" data-toggle="tab" role="tab" aria-controls="manterbem" aria-selected="true">Bens</a>
    </li>

    <li class="nav-item">
      <a routerLink="/depreciacao" class="nav-link active" id="bens-deprecia" data-toggle="tab" role="tab" aria-controls="deprecia" aria-selected="true">Depreciação</a>
    </li>
  
  </ul>
  
  <div class="container">
    <router-outlet></router-outlet>
  </div>
  
  